# Eclipse
.classpath
.project
.settings
.metadata

# Mac
.DS_Store

# Maven
log/
target/
*/target
*/target/**
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Ignorar prácticas seminarios
/VolumenAreaCliente
/VolumenAreaProveedor
/DemoJAXWS
/DemoSeguridad
/DemoSeguridadCliente
